body {
    font-family: "Playfair Display";
    font-size: x-large;
    background-color: #0B8999;
    color: #E6Af84;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel Decorative";
    font-size: 40pt;
    color: whitesmoke;
    
    
}

header {
    color: #994200;
    text-align: center;
}

#hero {
    text-align: center;
}

#heads img {
    width: 150px;
}

#bio, footer {
    text-align: center;
    margin-top: 20px;
}

#hobbies {
    border: 5px solid grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: radial-gradient(whitesmoke, #0B8999);
    display: flex;
    align-items: center;
    justify-content: center;  
}

#hobbies h2 {
    color: black;
}

#hobbies ul li {
    color: #000000;
    list-style-type: circle;
    
    
      
}

